asyncio==3.4.3
clipboard==0.0.4
keyboard==0.13.2
Pillow==5.2.0
PyAutoGUI==0.9.38
pyHook==1.5.1
PyMsgBox==1.0.6
pyperclip==1.6.4
PyQt5==5.11.2
PyQt5-sip==4.19.12
PyScreeze==0.1.18
python-xlib==0.23
PyTweening==1.0.3
pywin32==223
six==1.11.0
xlib==0.21
